@import "src/assets/sass/variables";
@import "src/assets/sass/mixins";
.add-subscription-modal {
  z-index: 9999;
  .modal-dialog-centered.modal-sm {
    max-width: 25rem;
    .modal-content {
      overflow: hidden;
      border-radius: 1rem;
      .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
        color: #ffffff;
        background-color: $color-brand-primary;
      }
      label {
        color: $color-grey;
        font-size: 0.8rem;
        &[for="customFile"] {
          font-weight: 600;
          margin-bottom: 0.2rem;
        }
      }
      input,
      textarea {
        border-radius: 7px;
      }
      button {
        border-radius: 10px;
      }
    }
  }
}
