
<div class="modal-header text-center">
  <h5 class="flex-grow-1">Agregar Ingreso</h5>
  <div class="cursor-pointer" (click)="activeModal.dismiss()">
      <span class="fas fa-times fa-lg"></span>
  </div>
</div>

<div class="px-4 pb-4">
  <form [formGroup]="addIncomeForm" (ngSubmit)="submit()" class="mt-4" novalidate>
      <div class="patrol-list">

          <div class="actions mt-4">
              <button type="submit" class="btn btn-blue btn-block " [disabled]="addIncomeForm.invalid || loading">
                  <small class="d-flex justify-content-between align-items-center font-weight-bold">
                      Confirmar
                      <span class="fas fa-check" *ngIf="!loading"></span>
                      <span class="fas fa-spinner fa-spin" *ngIf="loading"></span>
                  </small>
              </button>
          </div>
      </div>
  </form>
</div>
