<span class="bg bg-color"></span>
<div class="ayr-login">
    <div class="login-block">
        <div class="form-login">
            <h5>Xpenses</h5>
            <span>Restaurar contraseña</span>
            <form [formGroup]="resetForm" (ngSubmit)="submit()" class="mt-4" novalidate>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" autocomplete="off" id="email" formControlName="email" class="form-control"
                        placeholder="Ej: nombre@gmail.com" />
                    <ng-container *ngIf="email?.invalid && email?.touched">
                        <div class="alert alert-danger mt-2">
                            <div *ngIf="email?.hasError('required')">
                                El correo electrónico es obligatorio
                            </div>
                            <div *ngIf="email?.hasError('email')">
                                Ingresa un correo válido
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-blue btn-block btn-radius"
                        [disabled]="resetForm.invalid || loading">
                        <span class="d-flex justify-content-between align-items-center">
                            Enviar email
                            <i class="fas fa-arrow-right" *ngIf="!loading"></i><i
                                class="fas fa-spinner fa-spin text-white" *ngIf="loading"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-2">
          <span class="text-white">¿Ya tienes cuenta? <span class="font-weight-bold cursor-pointer" routerLink="/auth/login">Inicia sesión</span></span>
      </div>
    </div>
</div>
