<ng-container *ngIf="!loadingPage; else isLoading">
  <div class="container">
    <div class="table-container bg-white mt-2">
      <div class="d-flex align-items-center justify-content-between pt-3 px-3">
        <span class="title font-weight-bold">Ingresos</span>
        <div class="add-new">
          <button class="icon-add btn btn-main-blue" (click)="openCreateModal()">
            <span class="fas fa-plus fa-xs"></span>
          </button>
        </div>
      </div>
      <div class="filter-section p-3">
        <form class="" [formGroup]="filtersForm">
          <div class="d-flex">
            <input type="text" formControlName="search" class="form-control form-control-sm input-search"
              placeholder="Buscar..." />
          </div>
        </form>
      </div>
      <div class="table-section table-responsive d-flex">
        <table class="table table-borderless mx-3 my-0">
          <caption></caption>
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let income of incomes" (click)="openEditModal(income)" class="cursor-pointer">
              <td>
                <span>
                  {{income.title}}
                </span>
              </td>
              <td>
                <span>
                  {{income.amount | currency: 'CLP':'$'}}
                </span>
              </td>
            </tr>
            <ng-container *ngIf="totalAmountFiltered !== 0">
              <tr>
                <td class="font-weight-bold">Total</td>
                <td class="font-weight-bold">{{totalAmountFiltered | currency: 'CLP':'$'}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center p-2">
        <ngb-pagination [collectionSize]="collectionSize" [maxSize]="5" [(page)]="page" (pageChange)="filter()"
          [pageSize]="pageSize">
        </ngb-pagination>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #isLoading>
  <div class="d-flex justify-content-center align-items-center h-100 loading">
    <div class="d-flex flex-column align-items-center">
      <span class="fas fa-spinner fa-spin fa-3x mb-2"></span>
      <h5>Cargando...</h5>
    </div>
  </div>
</ng-template>