<nav class="col-md-3 col-lg-2 d-md-block sidebar" [ngClass]="{ active: isActive }">
  <div class="sidebar-inner d-flex flex-column justify-content-between h-100">
    <a href="" class="d-block d-md-none" id="btn-sidebar" (click)="toggleActive();$event.preventDefault();$event.stopPropagation()">
      <div class="circle">
        <i class="icon icon-active-false fas fa-bars"></i>
        <i class="icon icon-active-true fas fa-times"></i>
      </div>
    </a>
    <div class="area-logo py-3">
      <div class="d-flex flex-row justify-content-center align-items-baseline xp-title" (click)="toggleActive(); goToRoute('/dashboard')">
        <h3 class="font-weight-bold">X</h3>
        <i class="mx-2 fa-2x fa-regular fa-pen"></i>
        <h4 class="font-weight-bold">ses</h4>
      </div>
    </div>

    <div class="section-links">
      <ul class="nav flex-column flex-1">
        <li class="nav-item">
          <div class="nav-link" href="" [routerLink]="'/incomes'" (click)="toggleActive()">
            <span class="d-flex align-items-center">
              <span class="fa-regular fa-coins mr-2"></span>
              Ingresos
            </span>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link" href="" [routerLink]="'/expenses'" (click)="toggleActive()">
            <span class="d-flex align-items-center">
              <span class="fa-solid fa-receipt mr-2"></span>
              Gastos
            </span>
          </div>
        </li>
      </ul>
    </div>

    <div class="area-current-user p-3 m-3 text-center" *ngIf="currentUser">
      <span class="greetings mb-1">¡Hola {{currentUser.name}}!</span>
    </div>

    <div class="area-actions py-3">
      <a href="" class="link d-flex align-items-center px-3 py-2" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket mr-2"></i> Cerrar sesión
      </a>
    </div>
  </div>
</nav>
