<div class="date-selector-wrapper">
  <!-- Hidden datepicker anchor -->
  <input name="datepicker" ngbDatepicker #datepicker="ngbDatepicker" class="datepicker-hidden"
    [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" (closed)="onClosed()"
    [displayMonths]="1" [dayTemplate]="t" outsideDays="hidden"
    [startDate]="fromDate!" [maxDate]="todayDate" tabindex="-1" readonly
    [footerTemplate]="footerTemplate" />

  <!-- Trigger pill -->
  <button type="button" class="date-trigger" (click)="datepicker.toggle()">
    <i class="fas fa-calendar-alt date-trigger__icon"></i>
    <span class="date-trigger__label" *ngIf="!showCleanFilter">{{ currentPeriod }}</span>
    <ng-container *ngIf="showCleanFilter">
      <span class="date-trigger__from">{{ fromDateValue }}</span>
      <i class="fas fa-arrow-right date-trigger__arrow"></i>
      <span class="date-trigger__to">{{ toDateValue }}</span>
    </ng-container>
    <button *ngIf="showCleanFilter" type="button" class="date-trigger__clear" (click)="$event.stopPropagation(); goToCurrentPeriod()">
      <i class="fas fa-times"></i>
    </button>
  </button>

  <!-- Day cell template -->
  <ng-template #t let-date let-focused="focused">
    <span class="custom-day"
      [class.focused]="focused"
      [class.range]="isRange(date)"
      [class.faded]="isHovered(date) || isInside(date)"
      (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>

  <!-- Footer template -->
  <ng-template #footerTemplate>
    <div class="datepicker-footer">
      <button type="button" class="dp-btn dp-btn--secondary" (click)="goToCurrentPeriod()">Período actual</button>
      <button type="button" class="dp-btn dp-btn--primary" (click)="datepicker.close()">Cerrar</button>
    </div>
  </ng-template>
</div>