<div class="modal-header text-center">
  <h5 class="flex-grow-1">Editar Ingreso</h5>
  <div class="cursor-pointer" (click)="activeModal.dismiss()">
    <span class="fas fa-times fa-lg"></span>
  </div>
</div>

<div class="px-4 pb-4">
  <form [formGroup]="editIncomeForm" (ngSubmit)="submit()" class="mt-4" novalidate>
    <div class="expense-modal-form">

      <div class="form-group">
        <label for="title">Titulo</label>
        <input autocomplete="off" type="text" class="form-control form-control-sm" id="title" formControlName="title">
        <ng-container *ngIf="title?.invalid && title?.touched">
          <small class="mt-1 text-danger text-right d-block" *ngIf="title?.hasError('required')">
            El titulo es obligatorio*
          </small>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="amount">Monto</label>
        <input autocomplete="off" type="text" pattern="[0-9]*" inputmode="numeric" class="form-control form-control-sm"
          id="amount" formControlName="amount">
        <ng-container *ngIf="amount?.invalid && amount?.touched">
          <small class="mt-1 text-danger text-right d-block" *ngIf="amount?.hasError('required')">
            El monto es obligatorio*
          </small>
        </ng-container>
      </div>

      <div class="actions mt-4">
        <button type="submit" class="btn btn-blue btn-block ">
          <small class="d-flex justify-content-between align-items-center font-weight-bold">
            Confirmar
            <span class="fas fa-check" *ngIf="!loading"></span>
            <span class="fas fa-spinner fa-spin" *ngIf="loading"></span>
          </small>
        </button>
        <button type="button" class="btn btn-danger btn-block" (click)="delete()">
          <small class="d-flex justify-content-between align-items-center font-weight-bold">
            Eliminar
            <span class="fas fa-trash" *ngIf="!loading"></span>
            <span class="fas fa-spinner fa-spin" *ngIf="loading"></span>
          </small>
        </button>
      </div>
    </div>
  </form>
</div>