html {
  overflow: hidden;
  height: 100%;
}
html body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  height: 100%;
}
@import "bootstrap/scss/bootstrap";
@import "assets/sass/styles";
