// Colors Brand
$color-brand-main: #C18472;
$color-brand-green: #27eea1;
$color-brand-blue: #5c5fea;
$color-brand-emerald: #26d9e7;
$color-brand-ocean: #2498ff;
$color-brand-blaze: #ff2a00;
$color-brand-pink: #f86b7c;
$color-brand-purple: #e5266d;

// Brand Colors Usable
$color-brand-primary: #876656;
$color-brand-secondary: #BD9988;
$color-brand-tertiary: #FFE8D3;
$color-brand-quaternary: #00C9AA;


// Color: Space
$color-space: #1b202b;

// Color: Grey
$color-grey-darkest: #212325;
$color-grey-darker: #34373d;
$color-grey-dark: #3a444c;
$color-grey: #6d7880;
$color-grey-light: #8c8c9e;
$color-grey-lighter: #abb3b9;
$color-grey-lightest: #c8d0d7;

// Color: Milky
$color-milky: #ebedf3;
$color-milkier: #f3f5fa;
$color-milkiest: #f9fafc;

// Fonts
$font-default: "Lato";
$font-base-size: 13px;
$line-height: 1.2;

// Break Points (Sizes)
$break-xs: 576px;
$break-sm: 767px;
$break-md: 992px;
$break-lg: 1200px;
$break-xlg: 1440px;

$gap-xxs: 0.5em;
$gap-xs: 1em;
$gap-sm: 2.2em;
$gap-md: 4em;
$gap-lg: 6em;
$gap-xlg: 8.5em;

// Previews
$slideBaseHeight: 13em;
